<html>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Whistle.Config</title>
    <style>
      dt {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
        background-color: #ccc;
        height: 36px;
        align-items: center;
      }

      dd {
        margin: 0 0 16px 0;
        padding:
          8px 16px;
        box-shadow: 0px 3px 3px #ccc;
        background-color: #eee;
      }

    </style>
  </head>

  <body>
    <h1>Whistle Dynamic Rules</h1>
    <dl>
      {{#each rules}}
        <dt>
          <span>{{@key}}</span>
          <button
            onclick="fetch('/plugin.config/config?id={{this}}', {method: 'DELETE'})">删除</button>
        </dt>
        <dd>
          <pre>
          {{this}}
          </pre>
        </dd>
      {{/each}}
    </dl>

    <pre>{{value}}</pre>
  </body>

</html>
